@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Shalimar&display=swap');

#footer-wrapper {
    position: relative;
}

#footer {
    width: 0;
    max-width: 129rem;
    height: 30rem;
    background: #fff;
    margin: 0 auto;
    opacity: 0;

    .scrollable-content {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}